@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;		
  overflow-y: scroll;
  background-image: url('../images/background_image.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.bgColor {
  background-color: rgba(121, 210, 164, 0.96);
  max-width: 400px;
}

/* Navbar */
.mobileNav {
    display: none;
}

.hamburger {
    display: none;
}

.normalNav {
  background-color: rgba(64, 191, 125, 0.96);
}
li.normalElement > a.active {
  color: white;
}
li.mobileElement > a.active {
  border-width: 2px;
  border-radius: 25px;
  border-style: solid;
  border-color: white;
}
@media only screen and (max-width: 768px) {
    .normalNav {
        display: none;
    }
    
    .mobileNav {
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 40vh;
      overflow: hidden;
      margin: 0;
      transform: translateY(-200%);
      background-color: #234e52;				
      color: white;
      transition: transform 0.2s ease;
    }

    .hamburger {
        display: block;
        position: absolute;
        z-index: 20;
        top: 3px;
        border: none;
        right: 3px;
        width: 36px;
        height: 36px;
        outline: none;
        cursor: pointer;
        background-color: transparent;
        background-size: 100%;
    }
}

.showNav {
    transform: translateY(0);
}

.overlay {
    position:absolute;
    /* color with alpha transparency */
    background-color: rgba(0, 0, 0, 0.2);
    /* stretch to screen edges */
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
/* Title */
